body {
  padding: 20px;
}
.form {
  button,
  select,
  textarea,
  input {
    border: 1px solid #cecece;
  }
}
.search {
  --line: #cecece;
  --black: #000;
  --text: #777777;
  --btnBg: #da0029;
  --white: #fff;

  table {
    border: 1px solid var(--line);
  }
  th {
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    padding: 7px 0;
    background: url(../images/bg_line.svg) no-repeat right;
  }
  tr:first-child {
    th,
    td {
      padding-top: 17px;
      padding-bottom: 7px;
      background-position: right 22px;
    }
  }
  tr:last-child {
    th,
    td {
      padding-top: 7px;
      padding-bottom: 17px;
      background-position: right 21px;
    }
  }
  td {
    padding: 7px 20px;
    color: var(--text);
  }
}

.check-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 30px;
}

.search__word {
  display: grid;
  grid-template-columns: 1fr 85px;
  gap: 10px;
  margin-top: 10px;
  input {
    height: 40px;
    border: 1px solid var(--line);
  }
  button {
    color: var(--white);
    font-size: 16px;
    background-color: var(--btnBg);
    border: 1px solid var(--btnBg);
    transition: 0.5s;
    &:hover {
      color: var(--btnBg);
      background-color: var(--white);
      font-size: 14px;
    }
  }
}

.check-type1 {
  display: none;
  + label {
    white-space: nowrap;
    padding-left: 18px;
    background: url(../images/bg_check_off.svg) no-repeat left;
  }
  &:checked {
    + label {
      background: url(../images/bg_check_on.svg) no-repeat left;
    }
  }
}
