.preview-area {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr;
  gap: 20px;
}
.preview__photo {
  height: 250px;
  /* grid-row:시작 라인번호 / 끝 라인번호 ; */
  grid-row: 1 / 3;
}
.preview__content {
  border: 3px dashed tomato;
  grid-column: 2 / 4;
}

.skeleton {
  background-color: gray;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 200%;
    top: -30px;
    left: -40px;
    /* background: linear-gradient(방향, 시작색, ...중간색..., 끝색); */
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0)
    );
    animation: skeleton infinite 0.8s;
    transform: rotate(20deg);
  }
}
@keyframes skeleton {
  0% {
    left: -40px;
  }
  100% {
    left: 100%;
  }
}

.input {
  width: 100%;
  border: 3px solid seagreen;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 5px;
}
