:root {
  --white: #fff;
  --black: #000;
  --blue: #488ad8;
  --gray33: #333333;
  --gray66: #666666;
  --gray99: #999999;
  --graycc: #cccccc;
  --graye1: #e1e1e1;
  --grayf2: #f2f2f2;
  --green: #75cb67;
  --orange: #f08a40;
  --puple: #b174ee;
  --red: #fc817c;

  --roboto: "Roboto", sans-serif;
}

.header {
  background-color: rgba(0, 0, 0, 0.1);
}
.header-center {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  align-items: center;
  width: 1224px;
  height: 92px;
  margin: 0 auto;
  nav {
    justify-self: center;
  }
  &:has(.gnb:hover) {
    + .bg-nav {
      height: 190px;
    }
  }
}

.gnb {
  position: relative;
  z-index: 1001;
  display: flex;
  gap: 100px;
  &:hover {
    .depth2 {
      padding-top: 20px;
      opacity: 1;
      height: auto;
      overflow: visible;
    }
  }
  > li {
    position: relative;
    /* border: 1px solid pink; */
    > a {
      display: block;
      padding: 32px 0;
      position: relative;
      color: var(--white);
      font-size: 18px;
      font-weight: 700;
      transition: 0.5s;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 7px;
        background-color: var(--blue);
        transition: 0.5s;
      }
    }
    &:hover {
      > a {
        color: var(--blue);
        &::before {
          width: 100%;
        }
      }
    }
  }
  .depth2 {
    position: absolute;
    width: 100%;
    left: 0;
    top: 81px;
    opacity: 0;
    transition: 0.3s;
    height: 0;
    overflow: hidden;
    a {
      color: var(--gray66);
      font-size: 16px;
      font-weight: 500;
      line-height: 200%;
      letter-spacing: -0.8px;
      white-space: nowrap;
      &:hover {
        color: var(--blue);
        text-decoration: underline;
      }
    }
  }
}
.profile {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 20px;
  color: var(--white);
  font-size: 12px;
  font-weight: 300;
  b {
    font-weight: 500;
  }
}
.avatar {
  display: inline-block;
  position: relative;
  img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover;
  }
}
.avatar__badge {
  position: absolute;
  right: -6px;
  top: 50%;
  margin-top: -10px;
  /* transform: translateY(-50%); */
  color: var(--white);
  font-family: var(--roboto);
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  display: inline-flex;
  height: 20px;
  padding: 0 8px;
  border-radius: 20px;
  background: var(--blue);
  align-items: center;
}
.bg-nav {
  position: fixed;
  left: 0;
  top: 92px;
  z-index: 1000;
  width: 100%;
  height: 0;
  background-color: var(--white);
  transition: 0.3s;
}

/* Footer */
.footer-top {
  background-color: var(--white);
  border-top: 1px solid var(--gray99);
  border-bottom: 1px solid var(--graye1);
}
.footer-bottom {
  background-color: var(--grayf2);
}
.footer-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1224px;
  margin: 0 auto;
  height: 69px;
  .footer-bottom & {
    padding-top: 20px;
    gap: 10px;
    flex-direction: column;
    height: 149px;
    justify-content: start;
    align-items: start;
  }
}
.footer-nav {
  display: flex;
  a {
    color: var(--gray66);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.7px;
  }
  li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    + li {
      &::before {
        content: "";
        height: 14px;
        margin: 0 24px;
        border-right: 1px solid var(--graycc);
      }
    }
  }
}

.btn-familysite {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--gray66);
  font-family: var(--roboto);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.98px;
  background: none;
  &::before {
    content: url(../images/ico_family.svg);
  }
}

.company-info {
  display: flex;
  gap: 24px;
  white-space: nowrap;
  color: var(--gray99);
  font-size: 12px;
  font-weight: 500;
}
.copyright {
  color: var(--black);
  font-family: var(--roboto);
  font-size: 12px;
}
